TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_THREAD_ID=

FILE_PATH = /tmp/outages
MONITORING_FILE_PATH = /tmp/monitoring

REGION_ID=
DSO_ID=
STREET_NAME=
HOUSE_NUMBER=

DEYE_APP_ID=
DEYE_APP_SECRET=
DEYE_EMAIL=
DEYE_HASHED_PASSWORD=